%h1 Planlægning


%h4 User stories
%ul
  %li The user should be able to discover new wines
  %li The user should be able to have a personal/private library of wines
  %li The user should be able to have create libraries and wines
  %li The user should be able to post wines publicly and sort it into private libraries, in the same post
  %li The user should be able to comment on other peoples public wine posts
  %li The user should have the possibility to rate, describe and so on on both their public and private wines
